<ion-toolbar>
  <ion-title>Lugares de comida en {{userSettings.city}}</ion-title>
  <ion-buttons slot="end">
    <ion-item>
      <ion-label>Buscar por comida o lugar:</ion-label>
      <ion-input placeholder="Pizza"></ion-input>
    </ion-item>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-list class="row">
    <ion-item class="col" lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <div>
        <ion-label market-name>Pizzeria Lo de Carlo</ion-label>
        <ion-label market-time>Abierto todo el día</ion-label>
        <ion-label market-phone text-right><ion-icon slot="icon-only" name="call"></ion-icon>+598 95009387</ion-label>
      </div>
    </ion-item>
    <ion-item class="col" lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <div>
        <ion-label market-name>Pizzeria Lo de Carlo</ion-label>
        <ion-label market-time>Abierto todo el día</ion-label>
        <ion-label market-phone>+598 95009387</ion-label>
      </div>
      </ion-item>
    <ion-item class="col" lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <div>
        <ion-label market-name>Pizzeria Lo de Carlo</ion-label>
        <ion-label market-time>Abierto todo el día</ion-label>
        <ion-label market-phone>+598 95009387</ion-label>
      </div>
    </ion-item>
    <ion-item class="col" lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <div>
        <ion-label market-name>Pizzeria Lo de Carlo</ion-label>
        <ion-label market-time>Abierto todo el día</ion-label>
        <ion-label market-phone>+598 95009387</ion-label>
      </div>
    </ion-item>
    <ion-item class="col" lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <div>
        <ion-label market-name>Pizzeria Lo de Carlo</ion-label>
        <ion-label market-time>Abierto todo el día</ion-label>
        <ion-label market-phone>+598 95009387</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
